<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Autores</servlet-name>
    <servlet-class>es.upm.dit.isst.bookAdvisor.Autor_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Autores</servlet-name>
    <url-pattern>/autores</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Librerias</servlet-name>
    <servlet-class>es.upm.dit.isst.bookAdvisor.Librerias_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Librerias</servlet-name>
    <url-pattern>/librerias</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Bibliotecas</servlet-name>
    <servlet-class>es.upm.dit.isst.bookAdvisor.Bibliotecas_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bibliotecas</servlet-name>
    <url-pattern>/bibliotecas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Libros</servlet-name>
    <servlet-class>es.upm.dit.isst.bookAdvisor.Libros_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Libros</servlet-name>
    <url-pattern>/libros</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Libro</servlet-name>
    <servlet-class>es.upm.dit.isst.bookAdvisor.Libro_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Libro</servlet-name>
    <url-pattern>/libro</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Editoriales</servlet-name>
    <servlet-class>es.upm.dit.isst.bookAdvisor.Editorial_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editoriales</servlet-name>
    <url-pattern>/editoriales</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompruebaLogin</servlet-name>
    <servlet-class>es.upm.dit.isst.bookAdvisor.Comprueba_Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompruebaLogin</servlet-name>
    <url-pattern>/compruebaLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistroLector</servlet-name>
    <servlet-class>es.upm.dit.isst.bookAdvisor.Lector_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroLector</servlet-name>
    <url-pattern>/registroLector</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistroEditorial</servlet-name>
    <servlet-class>es.upm.dit.isst.bookAdvisor.Editorial_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroEditorial</servlet-name>
    <url-pattern>/registroEditorial</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistroBiblioteca</servlet-name>
    <servlet-class>es.upm.dit.isst.bookAdvisor.BibliotecasReg_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroBiblioteca</servlet-name>
    <url-pattern>/registroBiblioteca</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistroLibreria</servlet-name>
    <servlet-class>es.upm.dit.isst.bookAdvisor.LibreriasReg_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroLibreria</servlet-name>
    <url-pattern>/registroLibreria</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>es.upm.dit.isst.bookAdvisor.Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Valoracion</servlet-name>
    <servlet-class>es.upm.dit.isst.bookAdvisor.Valoracion_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Valoracion</servlet-name>
    <url-pattern>/valoracion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Subir</servlet-name>
    <servlet-class>es.upm.dit.isst.bookAdvisor.Subir_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subir</servlet-name>
    <url-pattern>/subir</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubirOferta</servlet-name>
    <servlet-class>es.upm.dit.isst.bookAdvisor.SubirOferta_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubirOferta</servlet-name>
    <url-pattern>/subirOferta</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ofertas</servlet-name>
    <servlet-class>es.upm.dit.isst.bookAdvisor.Ofertas_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ofertas</servlet-name>
    <url-pattern>/ofertas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>es.upm.dit.isst.bookAdvisor.Logout_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
